body {
  background-image: url(/img/PIZZABOX.jpg)
  }

h1 {
  background-color: red;
  text-align: center
}

h3 {
  background-color: red;
  text-align: center
}

label {
  background-color:red;
  text-align: center
}

